<form action='/links/create' method='post'>


        <label for="title"> title </label>

        <input type='text' name='title' autofocus>

        <label for="url"> URL </label>

        <input type='text' name='url'>

        <label for="tags"> Tag </label>

        <input type="text" name='tags'>

        <input type='submit' value='Bookmark link'>
</form>
