<!DOCTYPE html>
<html>
<head>
  <title>     Bookmark Manager   </title>
</head>

<body>
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>
  <% if current_user %>
  Welcome, <%=current_user.email %>
  <% end %>
  <%= yield %>
</body>
</html>
